<div class="jumbotron">
  <h1 class="display-4">Welcome to the Flossy App</h1>
  <p class="lead">Fashion is where you find it. Buy and sell fashion. Get Flossy.</p>
  <hr class="my-4">
  <p>Show your stuff</p>
  <%= link_to "Add Listing", new_listing_path, class: "btn btn-primary btn-lg"%>
  <%= image_tag "zimmerman1.jpg", class: "home-img"%>
</div>
