<div class = "container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Flossy</h1>
    <p class="lead">Fashion is where you find it. Buy and sell fashion. Get Flossy.</p>
    <hr class="my-4">
    <p class ="start">Show your stuff</p>
    <% if current_user.seller? %>
      <%= link_to "Add Listing", new_listing_path, class: "btn btn-primary btn-md"%>
    <% else %>
      <%= link_to "Show Listing", listings_path, class: "btn btn-primary btn-md"%>
    <% end %>
    <div class="container">
    <%= image_tag "zimmerman1.jpg", class: "home-img"%>
    </div>
  </div>
</div>
